.about h1 {
  font-size: 48px;
}

.about-img {
  border-radius: 16px;
  max-width: 100%;
  height: auto;
}

.paragraph1,
.paragraph2 {
  color: rgb(106, 104, 104);
  font-size: 20px;
}

ul {
  font-size: 20px;
}

ul li::marker {
  color: #f0b100;
}

ul li {
  margin-top: 10px;
}


/* Mobile */

@media (max-width: 480px) {

  .about h1 {
    font-size: 32px;
    text-align: center;
  }

  .paragraph1,
  .paragraph2,
  ul {
    font-size: 16px;
  }

  .about {
    text-align: center;
  }

  ul {
    text-align: left;
  }
}